{% extends "layout.html" %} {% block body %}
<br />
<div class="container">
    <form method="POST">
        <input type="hidden" name="account_id" value="{account_id}}">
        <div class="jumbotron">
            <div class="container">
                <h2 class="red-text">Něco málo o naší rodině</h2>
                <div class="form_heading">
                    <h5>Status náhradní rodiny</h5>
                    <div class="input-group inline">
                        <div class="input-group-prepend">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="status_nr" value="free" id="free">
                                <label class="custom-control-label" for="free">Volná <small>(Čekáme na přijetí dítěte)</small></label>
                            </div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="status_nr" value="occupied" id="occupied">
                                <label class="custom-control-label" for="occupied">Obsazená <small>(Momentálně na další dítě nečekáme)</small></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_heading">
                    <h5>Bydliště náhradní rodiny</h5>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="kraj">Vyberte kraj, ve kterém bydlíte: </label>
                            <select id="kraj" class="btn btn-info">
                                <option>Hlavní město Praha</option>
                                <option>Středočeský</option>
                                <option>Jihočeský</option>
                                <option>Plzeňský</option>
                                <option>Karlovarský</option>
                                <option>Ústecký</option>
                                <option>Liberecký</option>
                                <option>Královéhradecký</option>
                                <option>Pardubický</option>
                                <option>Olomoucký</option>
                                <option>Moravskoslezský</option>
                                <option>Jihomoravský</option>
                                <option>Zlínský</option>
                                <option>Kraj Vysočina</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="kraj">Vyberte okres, ve kterém bydlíte: </label>
                            <select id="kraj" class="btn btn-info">
                                <option>Hlavní město Praha</option>
                                <option>Středočeský</option>
                                <option>Jihočeský</option>
                                <option>Plzeňský</option>
                                <option>Karlovarský</option>
                                <option>Ústecký</option>
                                <option>Liberecký</option>
                                <option>Královéhradecký</option>
                                <option>Pardubický</option>
                                <option>Olomoucký</option>
                                <option>Moravskoslezský</option>
                                <option>Jihomoravský</option>
                                <option>Zlínský</option>
                                <option>Kraj Vysočina</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form_heading">
                    <h5>Typ náhradní rodiny</h5>
                    <div class="input-group inline">
                        <div class="input-group-prepend">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="typ_nr" value="pair" id="pair">
                                <label class="custom-control-label" for="pair">Dvě pečující osoby</label>
                            </div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="typ_nr" value="individual" id="individual">
                                <label class="custom-control-label" for="individual">Jedna pečující osoba<small> (otec nebo matka)</small></label>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="form_heading"><h5>Administrativní nezbytnosti</h5> 
                   <div class="form-row">
                    <div class="form-group col-md-12">
                    <label>Jsme schváleni jako</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="adoptive_parents" name="type_parents">
                        <label class="custom-control-label" for="adoptive_parents">osvojitelé</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="foster_parents" name="type_parents">
                        <label class="custom-control-label" for="foster_parents">pěstouni</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                            <label for="region_office">Kraj, ve kterém jsme byli schváleni: </label>
                            <select id="region_office" name="region_office" class="btn btn-info">
                                <option value="1">Hlavní město Praha</option>
                                <option>Středočeský</option>
                                <option>Jihočeský</option>
                                <option>Plzeňský</option>
                                <option>Karlovarský</option>
                                <option>Ústecký</option>
                                <option>Liberecký</option>
                                <option>Královéhradecký</option>
                                <option>Pardubický</option>
                                <option>Olomoucký</option>
                                <option>Moravskoslezský</option>
                                <option>Jihomoravský</option>
                                <option>Zlínský</option>
                                <option>Kraj Vysočina</option>
                            </select>
                        </div>
                    <div class="form-group col-md-6">
                    <label>Číslo usnesení, kterým jsme se stali čekateli</label>
                    <input type="text" placeholder="ABCDEFG12345" name="validation_no" required />
                </div>
                <div class="form-group col-md-6">
                    <label>Datum schválení</label>
                    <input type="date" name="validation_date" required/>
                </div>
                <div class="form-group col-md-6">
                    <label>Organizace, kde jsme absolvovali přípravku</label>
                    <input type="text" placeholder="NRP sobě, a.s." name="pripravka" required/>
                  </div>
                  </div>
                </div>
        </div>
      <input
        class="btn btn-info btn-lg btn-block"
        type="submit"
        value="Odeslat"
      />
    </div>
    </form>
</div>
<br>
{% endblock %}