{% extends "layout.html" %} {% block body %}
<br />
<div class="container">
    <form method="POST">
        <div class="jumbotron">
            <div class="container">
                <div class="form_heading">
                    <h5>Věk dítěte</h5>
                    <small>Zaškrtněte libovolný počet polí</small>
                    <div class="checkbox-group required">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="prefdite_vek_kojenec" />
                            </div>
                        </div>
                        <label class="form-control col">Kojenec</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="prefdite_vek_batole" />
                            </div>
                        </div>
                        <label class="form-control col">Batole</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="prefdite_vek_predskolak" />
                            </div>
                        </div>
                        <label class="form-control col">Předškolák</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="pref_dite_vek" value="3" />
                            </div>
                        </div>
                        <label class="form-control col">Nižší školní věk</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="prefdite_vek_vyssiskol" />
                            </div>
                        </div>
                        <label class="form-control col">Vyšší školní věk</label>
                    </div>
                </div></div>
                <div class="form_heading">
                    <h5>Pohlaví</h5>
                    <div class="input-group inline">
                        <div class="input-group-prepend">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="pref_sex" value="girl" id="girl">
                                <label class="custom-control-label" for="girl">Holka</label>
                            </div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="pref_sex" value="boy" id="boy">
                                <label class="custom-control-label" for="boy">Kluk</label>
                            </div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="pref_sex" value="no_matter" id="no_matter">
                                <label class="custom-control-label" for="no_matter">Je nám to jedno</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                            <label for="region_office">Kraj, ve kterém jsme byli schváleni: </label>
                            <select id="region_office" name="region_office" class="btn btn-info">
                                <option value="1">Hlavní město Praha</option>
                                <option>Středočeský</option>
                                <option>Jihočeský</option>
                                <option>Plzeňský</option>
                                <option>Karlovarský</option>
                                <option>Ústecký</option>
                                <option>Liberecký</option>
                                <option>Královéhradecký</option>
                                <option>Pardubický</option>
                                <option>Olomoucký</option>
                                <option>Moravskoslezský</option>
                                <option>Jihomoravský</option>
                                <option>Zlínský</option>
                                <option>Kraj Vysočina</option>
                            </select>
                        </div>
                    <div class="form-group col-md-6">
                    <label>Číslo usnesení, kterým jsme se stali čekateli</label>
                    <input type="text" placeholder="ABCDEFG12345" name="validation_no" required />
                </div>
                  </div>
                  </div>
                </div>
        </div>
      <input
        class="btn btn-info btn-lg btn-block"
        type="submit"
        value="Odeslat"
      />
    </div>
    </form>
</div>
<br>
{% endblock %}