{% extends "layout.html" %} {% block body %}
<br />
<div class="container">
    <form method="POST">
        <div class="jumbotron">
            <header>
                <h1>
      			Registrace náhradních rodičů
    		</h1>
                <p>
                    Na této stránce se můžete registrovat, pokud jste již schválení žadatelé o osvojení nebo pěstounskou péči. Vyplňte prosím dotazník stejně, jako jste jej vyplňovali na krajském úřadě. Po jeho vyplnění Vám přijde email se žádostí o potvrzení emailové adresy a následnou registraci. Ta je potřeba, aby bylo možné Vaše údaje aktualizovat.
                </p>
            </header>
        </div>
        <input type="hidden" name="account_id" value="{{ account_id }}">
        <div class="jumbotron">
            <div class="container">
                <h2 class="red-text">
		          Rádi bychom do své rodiny přijali dítě.
        		</h2>
                <p>
                    Jsme omezeni některými faktory ve svém životě a proto nemůžeme přijmout jakékoli dítě. Dítě, o kterém bychom se rádi dozvěděli, že je možné jej přijmout, by ideálně bylo v tomto rozmezí:
                </p>
                <div class="form_heading">
                    <h5>Věk dítěte</h5>
                    <small>Zaškrtněte libovolný počet polí</small>
                    <div class="checkbox-group required">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_age" value="1" />
                            </div>
                        </div>
                        <label class="form-control col">Kojenec</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_age" value="2" />
                            </div>
                        </div>
                        <label class="form-control col">Batole</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_age" value="3" />
                            </div>
                        </div>
                        <label class="form-control col">Předškolák</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_age" value="4" />
                            </div>
                        </div>
                        <label class="form-control col">Nižší školní věk</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_age" value="5"/>
                            </div>
                        </div>
                        <label class="form-control col">Vyšší školní věk</label>
                    </div>
                </div></div>
                <div class="form_heading">
                    <h5>Pohlaví</h5>
                    <div class="input-group inline">
                        <div class="input-group-prepend">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="expectation_sex_id" value="2" id="expectation_sex_id_girl">
                                <label class="custom-control-label" for="expectation_sex_id_girl">Holka</label>
                            </div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="expectation_sex_id" value="1" id="expectation_sex_id_boy">
                                <label class="custom-control-label" for="expectation_sex_id_boy">Kluk</label>
                            </div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="expectation_sex_id" value="3" id="expectation_sex_id_no_matter">
                                <label class="custom-control-label" for="expectation_sex_id_no_matter">Je nám to jedno</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_heading">
                    <h5>Počet dětí, které jsme připraveni přijmout najednou</h5>
                    <small>Zaškrtněte libovolný počet polí</small>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="sibling_info_id" value="1" />
                            </div>
                        </div>
                        <label class="form-control col-md-4">Jednotlivec</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="sibling_info_id" value="2"/>
                            </div>
                        </div>
                        <label class="form-control col-md-4">Dvojčata</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="sibling_info_id" value="3"/>
                            </div>
                        </div>
                        <label class="form-control col-md-4">Dva sourozenci</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="sibling_info_id" value="4"/>
                            </div>
                        </div>
                        <label class="form-control col-md-4">Více sourozenců</label>
                    </div>
                </div>
                <div class="form_heading">
                    <h5>Postižení a jiná omezení dítěte</h5>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Fyzické nebo smyslové postižení</label>
                        </div>
                        <div class="form-group col">
                            <div class="input-group inline">
                                <div class="input-group-prepend">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" name="physical_handicap_id" value="1" id="physical_handicap_id_none">
                                        <label class="custom-control-label" for="physical_handicap_id_none">Žádné nebo malé</label>
                                    </div>
                                </div>
                                <div class="input-group-prepend">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" name="physical_handicap_id" value="2" id="physical_handicap_id_some">
                                        <label class="custom-control-label" for="physical_handicap_id_some">Střední, případně závažné</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Mentální postižení</label>
                        </div>
                        <div class="form-group col">
                            <div class="input-group inline">
                                <div class="input-group-prepend">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" name="mental_handicap_id" value="1" id="mental_handicap_id_none">
                                        <label class="custom-control-label" for="mental_handicap_id_none">Žádné nebo malé</label>
                                    </div>
                                </div>
                                <div class="input-group-prepend">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" name="mental_handicap_id" value="2" id="mental_handicap_id_some">
                                        <label class="custom-control-label" for="mental_handicap_id_some">Střední, případně závažné</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_heading">
                    <h5>Etnikum a kulturní identita</h5>
                    <small>Zaškrtněte libovolný počet polí</small>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_ethnicity_id" value="1"/>
                            </div>
                        </div>
                        <label class="form-control">Majoritní etnikum</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_ethnicity_id" value="2"/>
                            </div>
                        </div>
                        <label class="form-control">Částečně minoritní etnikum</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_ethnicity_id" value="3"/>
                            </div>
                        </div>
                        <label class="form-control">Majoritní etnikum, otec neznámý</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_ethnicity_id" value="4"/>
                            </div>
                        </div>
                        <label class="form-control">Minoritní etnikum</label>
                    </div>
                </div>
                <div class="form_heading">
                    <h5>Anamnéza dítěte - věci v historii dítěte, které pro nás nejsou nepřekonatelnou překážkou</h5>
                    <small>Zaškrtněte libovolný počet polí</small>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_anamnesis_id" value="3"/>
                            </div>
                        </div>
                        <label class="form-control">Nadužívání alkoholu u biologické matky</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_anamnesis_id" value="2"/>
                            </div>
                        </div>
                        <label class="form-control">Užívání drog biologickou matkou</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_anamnesis_id" value="4"/>
                            </div>
                        </div>
                        <label class="form-control">Dítě strávilo více než rok v ústavním zařízení</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_anamnesis_id" value="5"/>
                            </div>
                        </div>
                        <label class="form-control">V biologické rodině dítěte se vyskytuje psychiatrické onemocnění
                        </label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_anamnesis_id" value="6"/>
                            </div>
                        </div>
                        <label class="form-control">V biologické rodině dítěte se vyskytuje metabolické onemocnění</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_anamnesis_id" value="7"/>
                            </div>
                        </div>
                        <label class="form-control">Rodiče dítěte jsou spíše simplexní.</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_anamnesis_id" value="1"/>
                            </div>
                        </div>
                        <label class="form-control">O rodině dítěte není nic známo, dítě bylo nalezeno v babyboxu</label>
                    </div>
                </div>
                <div class="form_heading">
                    <h5>Právní stav dítěte</h5>
                    <small>Zaškrtněte libovolný počet polí</small>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_legal_status" value="1"/>
                            </div>
                        </div>
                        <label class="form-control">Dítě je právně volné k osvojení</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_legal_status" value="2"/>
                            </div>
                        </div>
                        <label class="form-control">Dítě bude velmi pravděpodobně brzy právně volné.</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_legal_status" value="3"/>
                            </div>
                        </div>
                        <label class="form-control">Dítě pravděpodobně nebude právně volné, ale je pravděpodobně možné získat poručnictví</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input" name="expectation_legal_status" value="4"/>
                            </div>
                        </div>
                        <label class="form-control">Dítě pravděpodobně nebude právně volné a není pravděpodobná možnost získání poručnictví</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h2 class="red-text">Něco málo o naší rodině</h2>
                <div class="form_heading">
                    <h5>Status náhradní rodiny</h5>
                    <div class="input-group inline">
                        <div class="input-group-prepend">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="expectation_status_id" value="1" id="free">
                                <label class="custom-control-label" for="free">Volná <small>(Čekáme na přijetí dítěte)</small></label>
                            </div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="expectation_status_id" value="2" id="occupied">
                                <label class="custom-control-label" for="occupied">Obsazená <small>(Momentálně na další dítě nečekáme)</small></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_heading">
                    <h5>Bydliště náhradní rodiny</h5>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="region">Vyberte kraj, ve kterém bydlíte: </label>
                            <select id="region" class="btn btn-info" name="region_id" required>
                                <option value=" 1 "> Jihomoravský </option>
                                <option value=" 2 "> Jihočeský </option>
                                <option value=" 3 "> Karlovarský </option>
                                <option value=" 4 "> Vysočina </option>
                                <option value=" 5 "> Královéhradecký </option>
                                <option value=" 6 "> Liberecký </option>
                                <option value=" 7 "> Moravskoslezský </option>
                                <option value=" 8 "> Olomoucký </option>
                                <option value=" 9 "> Pardubický </option>
                                <option value=" 10 "> Plzeňský </option>
                                <option value=" 11 "> Středočeský </option>
                                <option value=" 12 "> Ústecký </option>
                                <option value=" 13 "> Zlínský </option>
                                <option value=" 14 "> Hlavní město Praha </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="kraj">Vyberte okres, ve kterém bydlíte: </label>
                            <select id="district" class="btn btn-info" name="district_id" required>
                                <option value=" 1 "> Benešov (Středočeský kraj) </option>
                                <option value=" 2 "> Beroun (Středočeský kraj) </option>
                                <option value=" 3 "> Blansko (Jihomoravský kraj) </option>
                                <option value=" 4 "> Brno-město (Jihomoravský kraj) </option>
                                <option value=" 5 "> Brno-venkov (Jihomoravský kraj) </option>
                                <option value=" 6 "> Bruntál (Moravskoslezský kraj) </option>
                                <option value=" 7 "> Břeclav (Jihomoravský kraj) </option>
                                <option value=" 8 "> Česká Lípa (Liberecký kraj) </option>
                                <option value=" 9 "> České Budějovice (Jihočeský kraj) </option>
                                <option value=" 10 "> Český Krumlov (Jihočeský kraj) </option>
                                <option value=" 11 "> Děčín (Ústecký kraj) </option>
                                <option value=" 12 "> Domažlice (Plzeňský kraj) </option>
                                <option value=" 13 "> Frýdek-Místek (Moravskoslezský kraj) </option>
                                <option value=" 14 "> Havlíčkův Brod (Kraj Vysočina) </option>
                                <option value=" 15 "> Hodonín (Jihomoravský kraj) </option>
                                <option value=" 16 "> Hradec Králové (Královéhradecký kraj) </option>
                                <option value=" 17 "> Cheb (Karlovarský kraj) </option>
                                <option value=" 18 "> Chomutov (Ústecký kraj) </option>
                                <option value=" 19 "> Chrudim (Pardubický kraj) </option>
                                <option value=" 20 "> Jablonec nad Nisou (Liberecký kraj) </option>
                                <option value=" 21 "> Jeseník (Olomoucký kraj) </option>
                                <option value=" 22 "> Jičín (Královéhradecký kraj) </option>
                                <option value=" 23 "> Jihlava (Kraj Vysočina) </option>
                                <option value=" 24 "> Jindřichův Hradec (Jihočeský kraj) </option>
                                <option value=" 25 "> Karlovy Vary (Karlovarský kraj) </option>
                                <option value=" 26 "> Karviná (Moravskoslezský kraj) </option>
                                <option value=" 27 "> Kladno (Středočeský kraj) </option>
                                <option value=" 28 "> Klatovy (Plzeňský kraj) </option>
                                <option value=" 29 "> Kolín (Středočeský kraj) </option>
                                <option value=" 30 "> Kroměříž (Zlínský kraj) </option>
                                <option value=" 31 "> Kutná Hora (Středočeský kraj) </option>
                                <option value=" 32 "> Liberec (Liberecký kraj) </option>
                                <option value=" 33 "> Litoměřice (Ústecký kraj) </option>
                                <option value=" 34 "> Louny (Ústecký kraj) </option>
                                <option value=" 35 "> Mělník (Středočeský kraj) </option>
                                <option value=" 36 "> Mladá Boleslav (Středočeský kraj) </option>
                                <option value=" 37 "> Most (Ústecký kraj) </option>
                                <option value=" 38 "> Náchod (Královéhradecký kraj) </option>
                                <option value=" 39 "> Nový Jičín (Moravskoslezský kraj) </option>
                                <option value=" 40 "> Nymburk (Středočeský kraj) </option>
                                <option value=" 41 "> Olomouc (Olomoucký kraj) </option>
                                <option value=" 42 "> Opava (Moravskoslezský kraj) </option>
                                <option value=" 43 "> Ostrava-město (Moravskoslezský kraj) </option>
                                <option value=" 44 "> Pardubice (Pardubický kraj) </option>
                                <option value=" 45 "> Pelhřimov (Kraj Vysočina) </option>
                                <option value=" 46 "> Písek (Jihočeský kraj) </option>
                                <option value=" 47 "> Plzeň-jih (Plzeňský kraj) </option>
                                <option value=" 48 "> Plzeň-město (Plzeňský kraj) </option>
                                <option value=" 49 "> Plzeň-sever (Plzeňský kraj) </option>
                                <option value=" 50 "> Praha (Hlavní město Praha) </option>
                                <option value=" 51 "> Praha-východ (Středočeský kraj) </option>
                                <option value=" 52 "> Praha-západ (Středočeský kraj) </option>
                                <option value=" 53 "> Prachatice (Jihočeský kraj) </option>
                                <option value=" 54 "> Prostějov (Olomoucký kraj) </option>
                                <option value=" 55 "> Přerov (Olomoucký kraj) </option>
                                <option value=" 56 "> Příbram (Středočeský kraj) </option>
                                <option value=" 57 "> Rakovník (Středočeský kraj) </option>
                                <option value=" 58 "> Rokycany (Plzeňský kraj) </option>
                                <option value=" 59 "> Rychnov nad Kněžnou (Královéhradecký kraj) </option>
                                <option value=" 60 "> Semily (Liberecký kraj) </option>
                                <option value=" 61 "> Sokolov (Karlovarský kraj) </option>
                                <option value=" 62 "> Strakonice (Jihočeský kraj) </option>
                                <option value=" 63 "> Svitavy (Pardubický kraj) </option>
                                <option value=" 64 "> Šumperk (Olomoucký kraj) </option>
                                <option value=" 65 "> Tachov (Plzeňský kraj) </option>
                                <option value=" 66 "> Tábor (Jihočeský kraj) </option>
                                <option value=" 67 "> Teplice (Ústecký kraj) </option>
                                <option value=" 68 "> Trutnov (Královéhradecký kraj) </option>
                                <option value=" 69 "> Třebíč (Kraj Vysočina) </option>
                                <option value=" 70 "> Uherské Hradiště (Zlínský kraj) </option>
                                <option value=" 71 "> Ústí nad Labem (Ústecký kraj) </option>
                                <option value=" 72 "> Ústí nad Orlicí (Pardubický kraj) </option>
                                <option value=" 73 "> Vsetín (Zlínský kraj) </option>
                                <option value=" 74 "> Vyškov (Jihomoravský kraj) </option>
                                <option value=" 75 "> Zlín (Zlínský kraj) </option>
                                <option value=" 76 "> Znojmo (Jihomoravský kraj) </option>
                                <option value=" 77 "> Žďár nad Sázavou (Kraj Vysočina) </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form_heading">
                    <h5>Typ náhradní rodiny</h5>
                    <div class="input-group inline">
                        <div class="input-group-prepend">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="carer_info_id" value="2" id="pair">
                                <label class="custom-control-label" for="pair">Dvě pečující osoby</label>
                            </div>
                        </div>
                        <div class="input-group-prepend">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" name="carer_info_id" value="1" id="individual">
                                <label class="custom-control-label" for="individual">Jedna pečující osoba<small> (otec nebo matka)</small></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_heading">
                    <h5>První rodič</h5>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Rok narození</label>
                            <input type="text" placeholder="1989" name="parent1_year_of_birth" />
                        </div>
                        <div class="form-group col-md-1">
                            <label>Pohlaví</label>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="input-group inline">
                                <div class="input-group-prepend">

                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" name="parent1_sex_id" value="2" id="parent1_sex_female">
                                        <label class="custom-control-label" for="parent1_sex_female">Žena</label>
                                    </div>
                                </div>
                                <div class="input-group-prepend">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" name="parent1_sex_id" value="1" id="parent1_sex_male">
                                        <label class="custom-control-label" for="parent1_sex_male">Muž</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_heading">
                    <h5>Druhý rodič</h5>
                    <small>Nevyplňujte, jste-li samožadatel</small>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Rok narození</label>
                            <input type="text" placeholder="1989" name="parent2_year_of_birth" />
                        </div>
                        <div class="form-group col-md-1">
                            <label>Pohlaví</label>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="input-group inline">
                                <div class="input-group-prepend">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" name="parent2_sex_id" value="2" id="parent2_sex_female">
                                        <label class="custom-control-label" for="parent2_sex_female">Žena</label>
                                    </div>
                                </div>
                                <div class="input-group-prepend">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" name="parent2_sex_id" value="1" id="parent2_sex_male">
                                        <label class="custom-control-label" for="parent2_sex_male">Muž</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_heading">
                    <h5>Děti, které s vámi v současnosti bydlí</h5>
                    <small>Pokud žádné nemáte, nechte prázdné</small>
                    <div>
                        <div class="form-group">
                            <label>Počet dětí do 18 let, které s námi žijí ve společné domácnosti</label>
                            <input type="number" name="number_child_in_care" />
                          </div>
                    </div>
                    <h6>Nejmladší dítě</h6>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Rok narození</label>
                            <input type="text" placeholder="2012" name="youngest_child_age" />
                        </div>
                        <div class="form-group col-md-1">
                            <label>Pohlaví</label>
                        </div>
                        <div class="form-group col-md-7">
                            <div class="input-group inline">
                                <div class="input-group-prepend">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" name="youngest_child_sex" value="2" id="youngest_child_sex_female">
                                        <label class="custom-control-label" for="youngest_child_sex_female">Holka</label>
                                    </div>
                                </div>
                                <div class="input-group-prepend">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" name="youngest_child_sex" value="1" id="youngest_child_sex_male">
                                        <label class="custom-control-label" for="youngest_child_sex_male">Kluk</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label>Druh péče </label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="youngest_child_care" value="1" id="youngest_child_care_biological">
                                    <label class="custom-control-label" for="youngest_child_care_biological">Biologické</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="youngest_child_care" value="2" id="youngest_child_care_adopted">
                                    <label class="custom-control-label" for="youngest_child_care_adopted">Osvojené</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="youngest_child_care" value="3" id="youngest_child_care_foster">
                                    <label class="custom-control-label" for="youngest_child_care_foster">V pěstounské péči</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" name="youngest_child_care" value="4" id="youngest_child_care_other">
                                    <label class="custom-control-label" for="youngest_child_care_other">Jiné</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_heading">
                    <h5>Specifika rodiny</h5>
                    <small>(případně další informace, které se nevešly do formuláře)</small

                      <label for="family_specification"></label>
                      		          <input
        		    type="textarea"
            		name="note"
            		class="form-control"
                rows="2"
                id="family_specification"
            		placeholder="Zde můžete napsat cokoli, co Vám přijde důležité"
          		  />

                </div>
                <div class="form_heading"><h5>Administrativní nezbytnosti</h5> 
                   <div class="form-row">
                    <div class="form-group col-md-12">
                    <label>Jsme schváleni jako</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="adoptive_parents" name="approval_type_id" value="2">
                        <label class="custom-control-label" for="adoptive_parents">osvojitelé</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="foster_parents" name="approval_type_id" value="1">
                        <label class="custom-control-label" for="foster_parents">pěstouni</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                            <label for="region_office">Kraj, ve kterém jsme byli schváleni: </label>
                            <select id="region_office" name="regional_office_id" class="btn btn-info">
                                <option value="1">Krajský úřad Jihomoravského kraje</option>
                                <option value="2">Krajský úřad Jihočeského kraje</option>
                                <option value="3">Krajský úřad Karlovarského kraje</option>
                                <option value="4">Krajský úřad kraje Vysočina</option>
                                <option value="5">Krajský úřad Královéhradeckého kraje</option>
                                <option value="6">Krajský úřad Libereckého kraje</option>
                                <option value="7">Krajský úřad Moravskoslezského kraje</option>
                                <option value="8">Krajský úřad Olomouckého kraje</option>
                                <option value="9">Krajský úřad Pardubického kraje</option>
                                <option value="10">Krajský úřad Plzeňského kraje</option>
                                <option value="11">Krajský úřad Středočeského kraje</option>
                                <option value="12">Krajský úřad Ústeckého kraje</option>
                                <option value="13">Krajský úřad Zlínského kraje</option>
                                <option value="14">Magistrát hlavního města Prahy</option>
                            </select>
                        </div>
                    <div class="form-group col-md-6">
                    <label>Číslo usnesení, kterým jsme se stali čekateli</label>
                    <input type="text" placeholder="ABCDEFG12345" name="file_number" required />
                </div>
                <div class="form-group col-md-6">
                    <label>Datum schválení</label>
                    <input type="date" name="approval_date" required/>
                </div>
                <div class="form-group col-md-6">
                    <label>Organizace, kde jsme absolvovali přípravku</label>
                    <input type="text" placeholder="NRP sobě, a.s." name="prepcourse" required/>
                  </div>
                  </div>
                </div>
        </div>
      <input
        class="btn btn-info btn-lg btn-block"
        type="submit"
        value="Odeslat"
      />
    </div>
    </form>
</div>
<br>
{% endblock %}