{% extends "layout.html" %} {% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="/static/projekt (2).jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="/static/projekt (3).jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="/static/projekt (7).jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item active">
            <img src="/static/projekt (8).jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
</div>
<div class="jumbotron bg-info thin">
    <h5 class="white">
    Spojujeme náhradní rodiny, čekající na přijetí
    dítěte, a krajské úřady, které hledají rodiče pro ohrožené děti.
    </h5>
</div>
<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h3>Vážení náhradní rodiče,</h3>
            <p>
                velice si vážíme Vašeho rozhodnutí pomoci dítěti, které ať už dočasně či trvale nemůže vyrůstat ve své biologické rodině. Zároveň z vlastní zkušenosti víme, jak zdlouhavý může celý proces a obzvlášť čekání na kouzelný telefon být.
                <br /> Pojďte spolu s námi a krajskými úřady zkrátit tuto dobu na minimum.
                <br /> Vytvořily jsme tuto stránku, která bude ukazovat, kolik je v každém kraji rodičů, jako jste Vy. Těch, kteří čekají na své štěstí v podobě přijatého dítěte.
                <br /> Protože systém umisťování dětí do náhradní péče v současné době není mezi kraji provázaný, tato stránka bude umožňovat pracovncím OSPOD všech krajských úřadů vyhledávat čekatelské náhradní rodny v rámci celé České republiky. V případě, že Vaše rodina bude potřebám dítěte k umístění vyhovovat, pracovnice se může obrátit se na své kolegyně jiných krajích a vyhledat Vás podle spisové značky rozhodnutí, pod kterou jste vedeni.
                <br /> Svou registrací přispějete k tomu, že díky informacím o tom, jaké jsou v ČR volné náhradní rodiny, budou konkrétní krajské úřady moci snadněji než nyní kontaktovat Vám příslušný krajský úřad s nabídkou dítěte z jiného kraje.
                <br /> Zároveň Vás ubezpečujeme, že se Vás v dotazníku ptáme jen na naprosté minimum informací, tak aby bylo vyhledávání náhradních rodin efektivní. Údaje Vámi uvedené budou sdělovány poze pracovníkům krajských úřadů. Souhrnné statistikymohou být poskytnuty krajským úřadům a doprovázejícím organizacím.
            </p>
            <a class="btn btn-info btn-lg" href="/registrace_nr" role="button">Registrace náhradní rodiny</a>
        </div>
    </div>
  <div class="col-5">
    <div class="jumbotron">
      <div id="czechMap">
        <map name="czMap">
          <!--
                      Author: Jan Matoušek
                      Contact: matousek.vr@gmail.com
                      License: GPL
                      -->
          <area
            class="czechMap-area"
            href="{{ url_for('table_region', region_id=10) }}"`
            alt="Plzeňský kraj"
            title="Plzeňský kraj"
            data-img="/static/plzen.png"
            shape="poly"
            coords="106,239,104,242,97,237,96,230,89,222,80,216,66,197,52,195,52,195,41,174,34,163,34,157,26,149,30,145,37,132,65,131,76,121,87,124,93,111,100,114,102,122,117,125,130,134,128,152,120,155,119,166,125,167,125,178,125,196,117,212,119,217,110,223,106,239"
          />
          <area
            class="czechMap-area"
            href="{{ url_for('table_region', region_id=3) }}"
            alt="Karlovarský kraj"
            title="Karlovarský kraj"
            data-img="/static/kv.png"
            shape="poly"
            coords="37,132,65,131,76,121,87,124,93,111, 88,85,59,72 36,78,26,88,23,106,19,100,19,96,13,86,7,86,7,92,15,100,12,107,24,117,34,123,33,128"
          />
          <area
            class="czechMap-area"
            href= "{{ url_for('table_region', region_id=12) }}"
            alt="Ústecký kraj"
            title="Ústecký kraj"
            data-img="/static/usti.png"
            shape="poly"
            coords="100,114, 88,85,70,77, 75,67,86,66,90,58,100,53,105,56,111,50,111,44,119,42,134,42,137,36,142,33,147,34,172,20,163,13,164,8,168,7,171,8,182,11,187,16,186,21,190,21 ,188,29,183,36,177,34,175,42,169,50,177,66, 177,74,171,79,170,84,160,88,144,86,133,97,108,104,105,111"
          />
          <area
            class="czechMap-area"
            href="{{ url_for('table_region', region_id=6) }}"
            alt="Liberecký kraj"
            title="Liberecký kraj"
            data-img="/static/liberec.png"
            shape="poly"
            coords="188,29,183,36,177,34,175,42,169,50,177,66, 184,68,185,72,193,71,211,57,223,67, 231,69,234,66,244,71,249,63,254,68,261,66,257,55,255,38,246,34,242,37,241,31,236,26,233,14,216,11,215,27,203,28,201,33,195,32"
          />
          <area
            class="czechMap-area"
            href="{{ url_for('table_region', region_id=5) }}"
            alt="Královehradecký kraj"
            title="Královehradecký kraj"
            data-img="/static/kh.png"
            shape="poly"
            coords="223,67,231,69,234,66,244,71,249,63,254,68,261,66,257,55,255,38,272,40,277,49,284,47,286,51,287,56,295,50,300,52,304,49,310,49,316,57,313,65,301,74,311,82,326,98, 326,106,312,113,310,118,302,119,288,111,287,108,281,105,276,110,273,109,271,105,260,111,255,109,248,114,246,110,241,106,241,92,231,93,227,87,223,86,223,81,225,77"
          />
          <area
            class="czechMap-area"
            href="{{ url_for('table_region', region_id=9) }}"
            alt="Pardubický kraj"
            title="Pardubický kraj"
            data-img="/static/pardubice.png"
            shape="poly"
            coords="326,106,312,113,310,118,302,119,288,111,287,108,281,105,276,110,273,109,271,105,260,111,255,109,248,114, 242,121,253,128,251,140,257,146,265,146,276,154,277,158,284,159,286,155,316,170,326,169,327,165,344,167,347,162,349,153,341,141,342,136,340,124,346,118,349,101,346,118,349,101,346,102,336,111"
          />
          <area
            class="czechMap-area"
            href="{{ url_for('table_region', region_id=8) }}"
            alt="Olomoucký kraj"
            title="Olomoucký kraj"
            data-img="/static/olomouc.png"
            shape="poly"
            coords="344,167,347,162,349,153,341,141,342,136,340,124,346,118,349,101,346,118,349,101,352,97,359,97,358,88,354,86,349,76,352,73,371,80,382,86,383,91,387,90,389,94,388,97,377,105,376,115,372,119,372,124,374,127,372,136,386,143,392,147,410,150,425,171,414,184,409,182,407,187,398,189,395,193,388,192,382,200,372,203,353,179,351,192,345,188,346,175,342,174,343,167"
          />
          <area
            class="czechMap-area"
            href="{{ url_for('table_region', region_id=7) }}"
            alt="Moravskoslezský kraj"
            title="Moravskoslezský kraj"
            data-img="/static/ms.png"
            shape="poly"
            coords="389,94,388,97,377,105,376,115,372,119,372,124,374,127,372,136,386,143,392,147,410,150,425,171,433,174,443,174,453,176,462,187,466,185,473,174,487,174,493,168,489,153,477,149,471,130,457,126,452,127,450,123,444,120,437,119,434,114,434,119,429,119,421,123,409,110,401,103,413,96,410,86,403,91,392,92"
          />
          <area
            class="czechMap-area"
            href="{{ url_for('table_region', region_id=13) }}"
            alt="Zlínský kraj"
            title="Zlínský kraj"
            data-img="/static/zlin.png"
            shape="poly"
            coords="425,171,414,184,409,182,407,187,398,189,395,193,388,192,382,200,372,203,433,174,443,174,453,176,462,187,453,196,446,199,441,223,437,228,429,229,426,239,420,239,413,247,408,247,401,238,392,238,376,225,370,225,370,219,375,215,372,214,370,207,344,167"
          />
          <area
            class="czechMap-area"
            href="{{ url_for('table_region', region_id=2) }}"
            alt="Jihomoravský kraj"
            title="Jihomoravský kraj"
            data-img="/static/jm.png"
            shape="poly"
            coords="408,247,401,238,392,238,376,225,370,225,370,219,375,215,372,214,370,207,353,179,351,192,345,188,346,175,342,174,343,167,327,165,326,169,316,170, 314,196,307,200,305,222,300,228,283,230,267,240,258,241,254,246,269,252,277,249,295,263,318,265,323,258,338,259,338,263,346,266,356,267,357,274,360,274,377,247,389,253,396,251,402,253"
          />
          <area
            class="czechMap-area"
            href="{{ url_for('table_region', region_id=4) }}"
            alt="Vysočina"
            title="Vysočina"
            data-img="/static/vysocina.png"
            shape="poly"
            coords="251,140,257,146,265,146,276,154,277,158,284,159,286,155,316,170,314,196,307,200,305,222,300,228,283,230,267,240,258,241,251,236,256,223,246,223,240,219,239,212,234,213,226,212,218,204,213,205,208,196,209,175,214,168,231,166,231,163,226,159,232,151,245,146,245,142"
          />
          <area
            class="czechMap-area"
            href="{{ url_for('table_region', region_id=1) }}"
            alt="Jihočeský kraj"
            title="Jihočeský kraj"
            data-img="/static/jc.png"
            shape="poly"
            coords="258,241,254,246,251,236,256,223,246,223,240,219,239,212,234,213,226,212,218,204,213,205,208,196,209,175,198,169,189,179,160,174,157,176,144,175,139,179,126,177,125,178,125,196,117,212,119,217,110,223,106,239,128,260,145,272,144,281,164,286,173,280,174,276,180,280,186,278,192,283,194,271,198,267,200,261,210,262,214,245,215,234,228,242,234,240,235,237"
          />
          <area
            class="czechMap-area"
            href="{{ url_for('table_region', region_id=14) }}"
            alt="Praha"
            title="Praha"
            data-img="/static/praha.png"
            shape="poly"
            coords="168,129,181,123,189,123,189,117,192,113,180,105,170,108,169,111,162,111,162,118,167,126"
          />
          <area
            class="czechMap-area"
            href="{{ url_for('table_region', region_id=11) }}"
            alt="Středočeský kraj"
            title="Středočeský kraj"
            data-img="/static/sc.png"
            shape="poly"
            coords="126,177,139,179,144,175,157,176,160,174,189,179,198,169,209,175,214,168,231,166,231,163,226,159,232,151,245,146,245,142,251,140,253,128,242,121,248,114,246,110,241,106,241,92,231,93,227,87,223,86,223,81,225,77,223,67,211,57,193,71,185,72,184,68,177,74,171,79,170,84,160,88,144,86,133,97,108,104,105,111,100,114,102,122,117,125,130,134,128,152,120,155,119,166,125,167,125,178"
          />
        </map>
        <img id="czechMap-overlap" src="/static/none.png" usemap="#czMap" />
      </div>
      <p class="lead mezera_nad">
        Přehled volných náhradních rodičů podle krajů <br /><small>Pro výběr kraje klikněte na mapu.</small>
      </p>
    </div>
    <div id="chart_div"></div>
    </div>
   <div class="col">
      <div class="jumbotron">
          <h3>Vážení pracovníci krajského OSPODu,</h3>
          <p>
              máte ve svém kraji dítě, které se vám nedaří umístit do náhradní rodiny? Rozesíláte synopse dětí do okolních krajů? Obvoláváte kolegy, ale ne vždy se vám podaří se dovolat napoprvé? Napotřetí? Říkáte si, že přece musí někde existovat vhodná rodina právě pro toto "Vaše" dítě?
              <br /> Doufáme,že můžeme pomoci.
              <br /> Na této stránce se registrují schválené náhradní rodiny, pěstouni i osvojitelé, kteří aktuálně čekají na dítě. Vy jako zodpovědný pracovník krajského OSPOD máte možnost se registrovat a po ověření mezi volnými náhradními rodinami vyhledávat. Na základě čísla usnesení o zařazení rodiny mezi čekatele se pak můžete u kolegů z jiných krajů informovat už přímo na konkrétní vyhlédnutou rodinu.
          </p>
          <a class="btn btn-info btn-lg" href="/registrace_ku" role="button">Registrace pověřeného pracovníka</a>
      </div>
</div>
</div>
<footer class="page-footer font-small navbar-dark bg-info pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row bg-info ">
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold">Náhradní rodinná péče</h5>
        <p>
          je forma péče o dítě, které nemůže být z nejrůznějších důvodů
          vychováváno ve vlastní biologické rodině. Dává dětem možnost vyrůstat
          v přirozeném rodinném prostředí, které – na rozdíl od ústavní péče –
          má pozitivní vliv na jejich psychomotorický a psychický vývoj. Dítě je
          vychováváno náhradními rodiči – osvojiteli, pěstouny či poručníky v
          prostředí, které se nejvíce blíží přirozené rodině.
        </p>
      </div>
      <div class="col-md-5 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold">O projektu</h5>
        <p>
          Tato webová stránka vznikla jako studentský projekt v rámci digitální
          akademie Datová analýza pořádaného společností
          <a href="https://www.czechitas.cz/cs/" target="_blank" class="white">Czechitas</a>. V rámci této akademie je jednou z povinnostech studentek vymyslet a
          zrealizovat vlastní datový projekt. My jsme si vybraly k realizaci projekt
          webové stránky, kde se mohou registrovat schválení náhradní rodiče, a
          poskytnout tak odborné veřejnosti, především krajským úřadům, přehled
          o tom, kolik je aktuálně volných náhradních rodičů v jednotlivých oktesech. Doufáme, že přispějeme
          k zefektivnění péče o ohrožené děti v České republice.
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3" />
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase font-weight-bold">O nás</h5>
        <p>Jsme spolužčky a parťačky z kurzu Czechitas Digitální Akademie Praha 2019. Bára je maminkou 2 kluků a je momenálně na rodičovské dovolené. Zuzka je maminkou 3 malých kluků a má s náhradní péčí osobní zkušenost. Proto při volbě závěrečného projektu navrhla zpracování tématu výběru náhradních rodin pro ohrožené děti. </p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}