{% extends "layout.html" %} {% block body %} <br />
<div class="container">
  <form method="POST">
    <div class="jumbotron">
      <h1 class="display-4">Přihlášení registrovaných uživatelů</h1>
      <p>
        Pokud jste registrovaní, zadejte prosím své přihlašovací údaje a
        přihlašte se.
      </p>
      <div class="form-group">
        <label for="login_email">Emailová adresa</label>
        <input
          type="email"
          class="form-control"
          id="login_email"
          aria-describedby="emailHelp"
          placeholder="Zde vložte svou emailovou adresu."
          name="login_email"
          required
        />
      </div>
      <div class="form-group">
        <label for="login_password">Heslo</label>
        <input
          type="password"
          class="form-control"
          id="login_password"
          placeholder="Zde napište své heslo."
          name="login_password"
          required
        />
      </div>
      <button type="submit" class="btn btn-info">Přihlásit se</button>
    </div>
  </form>
</div>
{% endblock %}
