{% extends "layout.html" %} {% block body %}

<div class="container">
    <div class="jumbotron">
        <header>
            <h1>
        Kompletní profil náhradní rodiny
      </h1>
            <p>
                Pro TISK prosím stiskněte Ctrl P na Vašem počítači.
            </p> 
          </header>
            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Věk dítěte</label>
                    <label type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" required> {family_profile.expectation_age} </label>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Počet dětí, které je rodina připravena přijmout najednou</label>
                    <label type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input" required>{family_profile.expectation_sibling_info}</label>
                </div>
            </form>

            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Fyzické nebo smyslové postižení</label>
                    <label type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" required>{family_profile.expectation_physical_handicap}</label>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Mentální postižení</label>
                    <label type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input" required>{family_profile.expectation_mental_handicap}</label>
                </div>
            </form>

            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Etnikum a kulturní identita</label>
                    <label type="text" class="form-control">{family_profile.expectation_ethnicity}</label>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Přijatelná anamnéza dítěte</label>
                    <label type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input" required>{family_profile.expectation_anamnesis}</label>
                </div>
            </form>
            <!-- CO ZADAT DO x.note -->

            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Právní stav dítěte</label>
                    <label type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" required>{family_profile.expectation_legal_status}</label>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Další specifika rodiny / Poznámka </label>
                    <label type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input" required>x.note</label>
                </div>
            </form>
    </div>
</div>

<!-- KRATKE POLE -->
<div class="container">
    <div class="jumbotron">
        <form class="needs-validation" novalidate>
            <div class="form-row">

                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Spisová značka usnesení</label>
                    <label type="text" class="form-control" required>x.file_number</label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Datum vydání usnesení</label>
                    <label type="text" class="form-control">x.approval_date</label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Náhradní rodina schválena jako</label>
                    <label type="text" class="form-control">x.approval_type_id</label>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <form class="needs-validation" novalidate>
            <div class="form-row">

                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Rodina je v péči</label>
                    <label type="text" class="form-control" required>x.regional_office_id</label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Status náhradní rodiny</label>
                    <label type="text" class="form-control">x.expectation_status_id</label>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Přípravka rodiny u </label>
                    <label type="text" class="form-control">x.prepcourse</label>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <form class="needs-validation" novalidate>
            <div class="form-row">

                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Počet dětí, které má rodina již v péči</label>
                    <label type="text" class="form-control" required>x.number_child_in_care</label>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Věk nejmladšího dítěte v náhradní rodině</label>
                    <label type="text" class="form-control">x.youngest_child_in_care</label>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Počet pečujících rodičů</label>
                    <label type="text" class="form-control">x.carer_info_id</label>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}