{% extends "layout.html" %} {% block body %}
<br />
<div class="container">
    <form method="POST">
        <div class="jumbotron">
            <h1 class="display-4">Registrace náhradní rodiny</h1>
            <p>
                Děkujeme, že máte zájem o naši databázi. Po zadání emailu a hesla Vám přijde na Vámi zadanou emailovou adresu instrukce pro přihlášení a odkaz na dotazník.
            </p>
            <div class="form-group">
                <label>Emailová adresa</label>
                <input type="email" class="form-control" id="email_nr" name="email" aria-describedby="emailHelp" placeholder="Zde vložte svou emailovou adresu." required />
            </div>
            <div class="form-group">
                <label>Heslo</label>
                <input type="password" class="form-control" id="input_password_nr" placeholder="Heslo." name="password" required min-width=8/>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2">Ověřte heslo</label>
                <input type="password" class="form-control" id="verify_password_nr" name="verify_password" placeholder="Zde napište své heslo." required />
            </div>
            
            <div id="password-error"></div>
            <input class="btn btn-info btn-lg btn-block" type="submit" value="Odeslat" />
        </div>
    </form>
</div>
{% endblock %}