{% extends "layout.html" %} {% block body %}
<br />
<div class="jumbotron">
    <header>
        <h1>
      Náhradní rodiny, které máme v databázi.
    </h1>
        <p>
            Na této stránce si můžete prohlédnout tabulku se všemi informacemi o všech náhradních rodinách, případně jen podle zadaného filtru.
            Rodiny dávají přednost přijetí dítěte podle následujících kritérií:
        </p>
        <form method="GET">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Věk</th>
                        <th scope="col">Pohlaví</th>
                        <th scope="col">Počet dětí</th>
                        <th scope="col">Fyzické omezení</th>
                        <th scope="col">Mentální omezení</th>
                        <th scope="col">Kulturní identita</th>
                        <th scope="col">Anamnéza</th>
                        <th scope="col">Právní stav</th>
                        <th scope="col">Profil rodiny</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in expectation_table %}
                    <tr>
                            <td>{{ x.expectation_age }}</td>
                            <td>{{ x.expectation_sex_id }}</td>
                            <td>{{ x.expectation_sibling_info }}</td>
                            <td>{{ x.expectation_physical_handicap }}</td>
                            <td>{{ x.expectation_mental_handicap }}</td>
                            <td>{{ x.expectation_ethnicity }}</td>
                            <td>{{ x.expectation_anamnesis }}</td>
                            <td>{{ x.expectation_legal_status }}</td>
                            <td><a href="{{ url_for('family_profile', family_id=x.family_id) }}">Klikněte sem</a></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </form>
        <br />
    </header>
</div>
{% endblock %}