{% extends "layout.html" %} {% block body %}
<br />
<div class="container">
  <header>
    <h1>
      Výpis tabulky s různými filtry
    </h1>
    <p>
      Na této stránce si můžete prohlédnout redukované informace o náhradních
      rodičích, které čekají na své dítě.
    </p>
    <form method="GET">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Kraj</th>
          <th scope="col">Okres</th>
          <th scope="col">Status rodiny</th>
          <th scope="col">Schváleni jako</th>
          <th scope="col">Počet pečujících osob</th>
          <th scope="col">Přípravný kurz</th>
        </tr>
      </thead>
      <tbody>
        
            {% for x in vyber_z_databaze %}
            <tr>
              <td>{{ x.region_id + district_id + ex }}</td>
              <td>{{ x.district_id }}</td>
              <td>{{ x.expectation_status_id }}</td>
              <td>{{ x.approval_type_id }}</td>
              <td>{{ x.carer_info_id }}</td>
              <td>{{ x.prepcourse }}</td>
            </tr>
      {% endfor %}
    
      </tbody>
    </table>
    </form>
    <br />
  </header>
</div>
{% endblock %}
