{% extends "layout.html" %} {% block body %}
<br />
<div class="jumbotron">
    <header>
        <h1>
      Náhradní rodiny, které máme v databázi.
    </h1>
        <p>
            Na této stránce si můžete prohlédnout tabulku se všemi informacemi o všech náhradních rodinách, případně jen podle zadaného filtru.
        </p>
        <form method="GET">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Status rodiny</th>
                        <th scope="col">Kraj</th>
                        <th scope="col">Okres</th>
                        <th scope="col">Typ rodiny</th>
                        <th scope="col">Rodiče</th>
                        <th scope="col">Počet dětí</th>
                        <th scope="col">Nejmladší dítě</th>
                        <th scope="col">Specifika</th>
                        <th scope="col">Schváleni jako</th>
                        <th scope="col">Krajský úřad</th>
                        <th scope="col">Číslo schválení</th>
                        <th scope="col">Datum schválení</th>
                        <th scope="col">Přípravný kurz</th>
                    </tr>
                </thead>
                <tbody>

                    {% for x in vyber_z_databaze %}
                    <tr>
                            <td>{{ x.expectation_status_id }}</td>
                            <td>{{ x.region_id }}</td>
                            <td>{{ x.district_id }}</td>
                            <td>{{ x.carer_info_id }}</td>
                            <td>{{ x.parents_info }}</td>
                            <td>{{ x.number_child_in_care }}</td>
                            <td>{{ x.youngest_child_in_care }}</td>
                            <td>{{ x.note }}</td>
                            <td>{{ x.approval_type_id }}</td>
                            <td>{{ x.regional_office_id }}</td>
                            <td>{{ x.file_number }}</td>
                            <td>{{ x.approval_date }}</td>
                            <td>{{ x.prepcourse }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </form>
        <br />
    </header>
</div>
{% endblock %}