{% extends "layout.html" %} {% block body %}
<br />
<div class="container">
  <header>
    <h1>
      Výpis tabulky s různými filtry
    </h1>
    <p>
      Na této stránce si můžete prohlédnout redukované informace o náhradních
      rodičích, které čekají na své dítě.
    </p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">file_number</th>
          <th scope="col">approval_type</th>
          <th scope="col">regional_office</th>
          <th scope="col">expectation_status</th>
          <th scope="col">region</th>
          <th scope="col">district</th>
          <th scope="col">carer_info</th>
          <th scope="col">prepcourse</th>
        </tr>
      </thead>
      <tbody>
        
            {% for x in vyber_z_databaze %}
            <tr>
              <td>{{ vyber_z_databaze.file_number }}</td>
              <td>{{ vyber_z_databaze.approval_type_id }}</td>
              <td>{{ vyber_z_databaze.regional_office_id }}</td>
              <td>{{ vyber_z_databaze.expectation_status_id }}</td>
              <td>{{ vyber_z_databaze.region_id }}</td>
              <td>{{ vyber_z_databaze.district_id }}</td>
              <td>{{ vyber_z_databaze.carer_info_id }}</td>
              <td>{{ vyber_z_databaze.prepcourse }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <br />nebo <br />
    <br />
  </header>
</div>
{% endblock %}
